<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="HelloSpring" class="org.spring.Service.HelloSpring">
        <property name="message" value="Hello Spring!"/>
    </bean>
    <bean id="UserDao" class="org.spring.dao.impl.User"/>
    <bean id="UserService" class="org.spring.Service.impl.UserService">
        <property name="userDao" ref="UserDao"/>
    </bean>
</beans>